{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

<!-- Modal -->
<div class="modal fade" id="addProject" tabindex="-1" role="dialog" aria-labelledby="addProjectLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-ios">
      <div class="modal-header">
        <h5 class="modal-title" id="addTaskLabel">Ajouter un Projet</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'task:project-create' %}">{% csrf_token %}
            {{ form.as_p}}
      
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ferme</button>
        <button type="submit" class="btn btn-primary">Ajouter</button>
        </form>
      </div>
    </div>
  </div>
</div>





 {% block javascript %}
 <!-- <script>
   var app = new Vue({
  el: '#app',
  data: {
    test: 'Hello Vue!'
  }
})
 </script> -->
    {% endblock %}


{% block content %}
<div class="container">
  <div class="row">
   <!-- your content here -->
   <div class="col-md-12">
    <a class="btn btn-primary mb-5" data-toggle="collapse" href="#addProject" aria-expanded="true" aria-controls="blogForm">Ajouter Un Project</a>
<!-- <button data-toggle="collapse" data-target="#demo">Collapsible</button> -->
  <form class="bg-ios collapse form-inline p-3 border border-primary my-5" id="addProject" method="post" action="{% url 'task:project-create' %}">{% csrf_token %}
  <input class="form-control my-4  d-inline bg-ios mr-3 w-75" placeholder="le nome de project ici" type="text"  name="name" maxlength="100" required="" id="id_name">
  <button type="submit" class="btn btn-danger"><i class="far fa-arrow-alt-circle-right"></i></button>
  </form>

  <div class="col-md-12">
                                    
            <table class="table mb-5 table-hover bg-ios">
              <thead class="bg-primary">
                <tr>
                  <th> name </th>
                  <th> description </th>
                  <th> last_modefied </th>
                  <th> update </th>
                </tr>
              </thead>
              <tbody>
                {% for project in projects %}
                <tr>
                  <td>
                  <a href="{{ project.get_absolute_url }}">{{ project.name }}</a></td>
                  <td>{{project.description}}</td>
                  <td>{{project.last_modefied}}</td>
                  <td><a href="{% url 'task:project-update' project.id %}"><i class="far fa-edit"></i></a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>


     <!--  <div class="card mt-5">
        <div class="card-header bg-primary">
          <h4 class="card-title"> Project List</h4>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush ">
              {% for project in projects %}
              <li class="list-group-item bg-transparent"><a class="text-white" href="{% url 'task:project-detail' project.id %}">{{ project.id}} - {{project.name}}</a>
                {% empty %}
                <p>you have no project yet</p>
              {% endfor %}
            </li>
          </ul>
          </div>
        </div> -->
      </div>
    </div>
  </div>
{% endblock %}