{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
{{ object.name}} Project Detail View
{% endblock title %}

{% block content %}
<div class="content">
  <div class="container p-5">
  <div class="row p-4 bg-ios">
    <p class="text-center text-uppercase text-monospace display-2 w-100">{{ object.name}} {{ project.id }} </p>
  </div>
  <hr/>
  <div class="row d-flex">
      
    <button type="button" class="btn btn-danger mr-2" data-toggle="modal" data-target="#addAreaModal"><i class="fas fa-project-diagram mr-2"></i> Ajouter Une Location 
</button>
<button type="button" class="btn btn-danger mr-2" data-toggle="modal" data-target="#addTaskModal"><i class="fas fa-tasks mr-2"></i>Ajouter Une tache 
</button>
<button type="button" class="btn btn-danger text-white delete-btn" aria-label="Close" data-toggle="modal" data-target="#removeProject"> <span aria-hidden="true"><i class="far fa-trash-alt mr-2"></i>Suprimer</span>
</button>


    <div class="col-md-12 mt-5">
      {% for area in object.areas.all %}
      <table class="table mb-5 table-hover bg-ios">
        <thead class="thead-primary">
          <div class="d-flex justify-content-center bg-primary text-light p-2">
            <a href="" class="text-light">{{area}}</a>
          </div>
          <tr>
          <th>LES TACHES </th>
          <th>Debut</th>
          <th>fin</th>
          <th>status</th>
          <th>jours</th>
          <th> % </th>
          <th>mettre à jour</th>
          </tr>
        </thead>
        <tbody>
          {% for t in area.tasks.all %}
          <tr>
          <td><a href="{% url 'task:task-detail' object.id t.id %}">{{ t.name }}</a></td>
          <td>{{ t.debut }}</td>
          <td>{{ t.fin }}</td>
          {% if t.get_status == "ACHEVER" %}
          <td class="bg-success text-white">{{ t.get_status }}</td>
          {% elif t.get_status == "EN COURS"  %}
          <td class="bg-warning text-white">{{ t.get_status }}</td>
          {% elif t.get_status == "NON COMMENCE"  %}
          <td class="bg-secondary text-white">{{ t.get_status }}</td>
          {% else %}
          <td class="bg-danger text-white">{{ t.get_status }}</td>
          {% endif %}
          <td>{{ t.get_task_length }}</td>
          <td>{{ t.complition_ratio }} % </td>
         <!--  <td><form class="isComplete" method="post" action="{% url 'task:task-update' t.id %}">{% csrf_token %}
          <input onclick="complete()" type="checkbox" name="complete" id="id_complete" {% if t.complete %} checked {% endif %} >
          </form></td> -->
          <td>
            <a href="{% url 'task:task-update' t.id %}"><i class="fas fa-wrench"></i></a>
          </td>

          {% endfor %}  
        </tbody>
      </table><hr/>
      {% endfor %}
    </div>

  </div> 



 <!--  <form id="area_form" method="post" action="{% url 'task:area-create' %}">{% csrf_token %}
  {{ form.as_p}}        
  <button id="mybutton" type="button" class="btn btn-secondary" data-dismiss="modal">Ferme</button>
  <button type="submit" class="btn btn-primary">Ajouter</button>
  </form> -->
  </div>
</div>


<!-- Modal -->
<div class="modal fade bg-ios" id="addAreaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Ajouter Une Location</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form id="area_form" method="post" action="{% url 'task:area-create' %}">{% csrf_token %}
          {% csrf_token %}

            {{ area_form.non_field_errors }}

            {% for hidden_field in area_form.hidden_fields %}
              {{ hidden_field.errors }}
              {{ hidden_field }}
            {% endfor %}

            <div class="p-4  mb-5">
              {% for field in area_form.visible_fields %}
               
                  {{ field.label_tag }}
                 
                    {{ field.errors }}
                    {% render_field field class="form-control" placeholder=field.name %}
                    {{ field.help_text }}
                 
                
              {% endfor %}
            </div>
          <button id="mybutton" type="button" class="btn btn-secondary" data-dismiss="modal">Ferme</button>
          <button type="submit" class="btn btn-primary">Ajouter</button>
          </form>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade bg-ios" id="addTaskModal" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Ajouter Une Tache</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form id="task_form" method="post" action="{% url 'task:task-create' %}">{% csrf_token %}
          {% csrf_token %}

            {{ task_form.non_field_errors }}

            {% for hidden_field in task_form.hidden_fields %}
              {{ hidden_field.errors }}
              {{ hidden_field }}
            {% endfor %}

            <div class="p-4  mb-5">
              {% for field in task_form.visible_fields %}
               
                  {{ field.label_tag }}
                 
                    {{ field.errors }}
                    {% render_field field class="form-control" placeholder=field.name %}
                    {{ field.help_text }}
                 
                
              {% endfor %}
             </div>
          <button id="mybutton" type="button" class="btn btn-secondary" data-dismiss="modal">Ferme</button>
          <button type="submit" class="btn btn-primary">Ajouter</button>
          </form>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>
         <!-- Modal -->
<div class="modal fade bg-ios" id="removeProject" tabindex="-1" role="dialog" aria-labelledby="removeProjectLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title" id="addTaskLabel">Suprimer le Projet</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form  method="post" action="{% url 'task:project-delete' project.id %}">{% csrf_token %}
            <strong class="text-primary">Are you sure you want to delete "{{ object }}"?</strong>
      
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ferme</button>
        <button type="submit" class="btn btn-primary">Suprimer</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block javascript %}
<script>
  
</script>
<script>
$(document).ready(function(){
/*  $( "#task_form" ).on( "submit", function( event ) {
  event.preventDefault();
  console.log( $( this ).serialize() );
});*/
  $( ".isComplete" ).on( "click" , function(){
    this.submit()
  })
 
});
</script>




<script type="text/javascript">
   $('#id_fin').datepicker({
           
            format: 'yyyy-mm-dd'
        });
   $('#id_debut').datepicker({
           
            format: 'yyyy-mm-dd'
        });
</script>
{% endblock %}